<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Wacky Widgets</title>
</head>
<body>
    <h1>Wacky Widgets</h1>
    <h3>No Widgets</h3>
    <table>
        <thead>
            <th>Description</th>
            <th>Quantity</th>
            <th>Delete</th>
        </thead>
        <tbody>
          {% for widget in widget_list %}
            <tr>
                <td>{{ widget.description }}</td>
                <td>{{ widget.quantity }}</td>
                <td>
                    <a href="{% url 'delete' widget.id %}" style="color: red">X</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>